@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    font-family: 'Martian Mono', monospace;
    list-style-type: none;
}

header > img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 50px;
}

main {
    overflow-x: hidden;
}

.first-viewport {
    display: flex;
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    width: 100vw;
    height: 100vh;
}

.first-viewport > .illustration-block {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 50%;
    height: 100%;
}

.first-viewport > .illustration-block > img {
    border-radius: 20px 0 0 20px;
}

.first-viewport > .content-wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
    height: 100%;
}

.first-viewport > .content-wrapper > .content-block {
    width: 600px;
    border-radius: 0 10px 0 0;
    height: 800px;
    background: rgb(13,12,9);
    background: linear-gradient(90deg, #0e0809 94%, rgba(68,21,30,1) 100%);
    /*background: linear-gradient(90deg, #0e0809 100%, #44151e 0%);*/
}
.first-viewport > .content-wrapper > .content-block > .content > img {
    display: none;
}
.first-viewport > .content-wrapper > .content-block > .content {
    margin: 30px 0 200px 30px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    color: #458fff;
    overflow-y: auto;
}

.first-viewport > .content-wrapper > .content-block > .content > .content-info {
    padding-left: 15px;
    padding-right: 15px;
}
.first-viewport > .content-wrapper > .content-block > .content > .content-info > li {
    margin-bottom: 5px;
    padding-top: 10px;
}

.first-viewport > .content-wrapper > .content-block > .content > .content-info > li:nth-child(3), li:nth-child(4) {
    color: #FC466BFF;
}

.first-viewport > .content-wrapper > .content-block > .content > .content-info > li > .code-examples {
    margin-top: 10px;
    background-color: dimgrey;
    border-radius: 10px;
    padding: 10px;
}

footer {
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #0e0809;
    color: aliceblue;
    overflow-x: hidden;
}

footer > ul > li {
    display: inline-block;
    margin-right: 50px;
}

@media (min-width: 875px) and (max-width: 1330px) {
    .first-viewport > .illustration-block {
        position: relative;
    }

    .first-viewport > .illustration-block > img {
        position: absolute;
        right: 0;
        width: 400px;
        height: 500px;
    }
    .first-viewport > .content-wrapper > .content-block {
        background: transparent;
        position: relative;
    }
    .first-viewport > .content-wrapper > .content-block > .content {
        width: 500px;
        height: 800px;
        position: absolute;
        left: -100px;
    }
}

@media (min-width: 575px) and (max-width: 875px){
    .first-viewport > .content-wrapper > .content-block {
        background: transparent;
    }

    .first-viewport {
        display: flex;
        flex-direction: column;
    }
    .first-viewport > .illustration-block {
        display: none;
    }
    .first-viewport > .content-wrapper {
        width: 100%;
        height: 100%;
    }
    .first-viewport > .content-wrapper > .content-block > .content > img {
        display: block;
        float: left;
        margin: 5px 10px 10px 5px;
        width: 300px;
        height: 400px;
        border-radius: 20px;
    }

    .first-viewport > .content-wrapper > .content-block {
        width: 100%;
        height: 100%;
        z-index: 5;
    }

    .first-viewport > .content-wrapper > .content-block > .content {
        margin-top: 45px;
        width: 90%;
        height: 95%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 575px) {
    .first-viewport > .content-wrapper > .content-block {
        background: transparent;
    }

    .first-viewport {
        display: flex;
        flex-direction: column;
    }
    .first-viewport > .illustration-block {
        display: none;
    }
    .first-viewport > .content-wrapper {
        width: 100%;
        height: 100%;
    }
    .first-viewport > .content-wrapper > .content-block > .content > img {
        display: block;
        float: left;
        margin: 5px 10px 10px 5px;
        width: 300px;
        height: 400px;
        border-radius: 20px;
    }

    .first-viewport > .content-wrapper > .content-block {
        width: 100%;
        height: 100%;
        z-index: 5;
    }

    .first-viewport > .content-wrapper > .content-block > .content {
        margin-top: 45px;
        width: 90%;
        height: 95%;
        margin-left: auto;
        margin-right: auto;
    }
}